<<<<<<< HEAD

.container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-title {
    color: var(--color-neutral-0);
    text-align: center;
}

.brand-quote {
    text-align: center;
    background: var(--color-primary-100);
    padding: 32px;
    border-radius: var(--radius-sm);
}

.brand-quote .headings-h5,
.brand-intro .headings-h5 {
    color: var(--color-primary-400);
}

.brand-history li::before {
    content: "•";
}

.history-year {
    margin-right: 8px;
}

.history-event {
    padding-left: 8px;
    border-left: 1px solid var(--color-neutral-900);
}

.concept-item {
    border-left: 3px solid var(--color-neutral-300);
}

.feature-list a {
    color: var(--color-primary-400);
}

.feature-list a:hover {
    color: var(--color-primary-500);
}

.feature-text {
    border-bottom: 1px solid var(--color-primary-400);
}

.arrow-icon {
    width: 20px;
    height: 20px;
}

.footer {
    background: var(--color-neutral-100);
}

.copyright {
    border: none;
=======

.container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-title {
    color: var(--color-neutral-0);
    text-align: center;
}

.brand-quote {
    text-align: center;
    background: var(--color-primary-100);
    padding: 32px;
    border-radius: var(--radius-sm);
}

.brand-quote .headings-h5,
.brand-intro .headings-h5 {
    color: var(--color-primary-400);
}

.brand-history li::before {
    content: "•";
}

.history-year {
    margin-right: 8px;
}

.history-event {
    padding-left: 8px;
    border-left: 1px solid var(--color-neutral-900);
}

.concept-item {
    border-left: 3px solid var(--color-neutral-300);
}

.feature-list a {
    color: var(--color-primary-400);
}

.feature-list a:hover {
    color: var(--color-primary-500);
}

.feature-text {
    border-bottom: 1px solid var(--color-primary-400);
}

.arrow-icon {
    width: 20px;
    height: 20px;
}

.footer {
    background: var(--color-neutral-100);
}

.copyright {
    color: var(--color-neutral-600);
    text-align: center;
>>>>>>> 566edccded99fd9ab6f8d99cd1a6c5630ca1ee60
}